* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

html, body, .box, .box_list ul li a img, .content .forma .Load a, .menu a, .menu a img, .Catalog ul li a, .Return a, .Return a img, .add a, .add a img, .box_search .search a img, .box_search .search_content ul li a {
  width: 100%;
  height: 100%; }

.box_header {
  width: 16rem;
  height: 2.3rem; }
  .box_header header {
    width: 16rem;
    height: 1.8rem;
    background: #1c1c20;
    text-align: center;
    padding-top: 0.5rem;
    position: fixed;
    z-index: 999; }
    .box_header header .left {
      display: block;
      position: absolute;
      left: 0.5rem;
      top: 0.6rem;
      zoom: 1; }
      .box_header header .left:after {
        display: block;
        clear: both;
        content: ''; }
      .box_header header .left img {
        width: 0.6rem;
        height: 1.1rem; }
      .box_header header .left span {
        font-size: 0.8rem;
        float: right;
        margin-left: 0.3rem;
        color: #FFFFFF; }
    .box_header header .right {
      display: block;
      position: absolute;
      right: 1rem;
      top: 0.3rem; }
      .box_header header .right img {
        width: 1.3rem;
        height: 0.3rem; }
    .box_header header label {
      font-size: 1rem;
      color: #FFFFFF; }

.box_list {
  width: 16rem;
  height: calc(6.5rem/2);
  z-index: 999; }
  .box_list ul {
    width: 16rem;
    zoom: 1; }
    .box_list ul:after {
      display: block;
      clear: both;
      content: ''; }
    .box_list ul li {
      width: calc(16rem/5);
      float: left;
      text-align: center; }
      .box_list ul li.lii a:nth-child(1) {
        display: none; }
      .box_list ul li.lii a:nth-child(2) {
        display: block; }
      .box_list ul li a {
        display: block;
        width: 0.85rem;
        height: 0.8rem;
        margin: 0 auto;
        margin-top: calc(1rem/2); }
      .box_list ul li a:nth-child(2) {
        display: none; }
      .box_list ul li span {
        font-size: 0.45rem;
        color: #c0c0c0; }

.content_search {
  width: 16rem;
  height: calc(4.9rem/2);
  background: rgba(245, 246, 248, 0.2);
  position: fixed;
  left: 0;
  top: 5.05rem;
  z-index: 2; }
  .content_search .banner_remove {
    position: absolute;
    top: 0.6rem;
    right: calc(2.1rem/2);
    z-index: 1; }
    .content_search .banner_remove a {
      display: block; }
      .content_search .banner_remove a img {
        width: calc(1.3rem/2);
        height: calc(1.4rem/2);
        margin-left: 0.1rem; }
  .content_search .banner_search {
    z-index: 1; }
    .content_search .banner_search input[type='text'] {
      padding-left: calc(2.1rem/2);
      width: calc(16rem-2.1rem/2);
      height: calc(4.9rem/2);
      border: none;
      outline: none;
      background-color: transparent;
      font-size: calc(1.3rem/2);
      color: #FFFFFF;
      z-index: 1; }
    .content_search .banner_search input[type='image'] {
      position: absolute;
      right: calc(5.6rem/2);
      top: calc(1.5rem/2);
      width: calc(1.7rem/2);
      height: calc(1.7rem/2);
      outline: none;
      z-index: 1; }

.content {
  width: 16rem; }
  .content .banner {
    width: 16rem;
    position: relative;
    z-index: 1; }
    .content .banner .swiper-container {
      width: 100%; }
      .content .banner .swiper-container .swiper-wrapper {
        width: 100%; }
        .content .banner .swiper-container .swiper-wrapper .swiper-slide {
          width: 100%;
          position: relative; }
          .content .banner .swiper-container .swiper-wrapper .swiper-slide img {
            width: 100%; }
          .content .banner .swiper-container .swiper-wrapper .swiper-slide span {
            color: #b1b1b1;
            position: absolute;
            width: 5rem;
            height: 2rem;
            left: 50%;
            top: 50%;
            margin-left: -2.5rem;
            margin-top: -1rem; }
    .content .banner .banner_logo {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: calc(-18.7rem/4);
      margin-top: calc(-8rem/4);
      z-index: 1; }
      .content .banner .banner_logo a {
        display: block; }
        .content .banner .banner_logo a img {
          width: calc(18.7rem/2);
          height: calc(8rem/2); }
  .content .list {
    width: 16rem;
    height: 5rem;
    position: relative;
    overflow: hidden; }
    .content .list .swiper-list {
      width: 100%; }
      .content .list .swiper-list .swiper-wrapper {
        width: 100%; }
        .content .list .swiper-list .swiper-wrapper .swiper-slide {
          width: 100%;
          zoom: 1;
          padding-top: 0.9rem; }
          .content .list .swiper-list .swiper-wrapper .swiper-slide:after {
            display: block;
            clear: both;
            content: ''; }
          .content .list .swiper-list .swiper-wrapper .swiper-slide a {
            display: block;
            width: calc(16rem/3);
            text-align: center;
            float: left; }
            .content .list .swiper-list .swiper-wrapper .swiper-slide a img {
              width: 1.5rem;
              height: 1.4rem; }
            .content .list .swiper-list .swiper-wrapper .swiper-slide a span {
              display: block;
              font-size: 0.5rem; }
  .content .forma {
    width: 16rem; }
    .content .forma ul {
      width: 16rem; }
      .content .forma ul li {
        width: 16rem;
        height: calc(34rem/2); }
        .content .forma ul li .forma_imaGes {
          width: 16rem;
          height: 12rem;
          position: relative; }
          .content .forma ul li .forma_imaGes p {
            font-size: 0.5rem;
            color: #FFFFFF;
            width: calc(29.5rem/2);
            height: calc(2.7rem/2);
            position: absolute;
            left: 50%;
            margin-left: -7.375rem;
            bottom: 1.75rem; }
        .content .forma ul li .forma_duce {
          width: 16rem;
          zoom: 1; }
          .content .forma ul li .forma_duce:after {
            display: block;
            clear: both;
            content: ''; }
          .content .forma ul li .forma_duce > div:nth-child(1) {
            margin-left: 0.55rem;
            margin-top: 0.5rem;
            float: left; }
            .content .forma ul li .forma_duce > div:nth-child(1) h3 {
              font-size: 1rem;
              color: #1B1B1B; }
            .content .forma ul li .forma_duce > div:nth-child(1) p {
              font-size: 0.5rem;
              color: #949494;
              margin-top: 0.3rem; }
          .content .forma ul li .forma_duce > div:nth-child(2) {
            float: right;
            zoom: 1;
            margin-right: 0.6rem;
            margin-top: 0.9rem; }
            .content .forma ul li .forma_duce > div:nth-child(2):after {
              display: block;
              clear: both;
              content: ''; }
            .content .forma ul li .forma_duce > div:nth-child(2) a {
              display: block;
              float: left;
              zoom: 1; }
              .content .forma ul li .forma_duce > div:nth-child(2) a:after {
                display: block;
                clear: both;
                content: ''; }
              .content .forma ul li .forma_duce > div:nth-child(2) a img {
                width: 0.8rem;
                height: 0.75rem;
                float: left;
                margin-right: 0.2rem; }
              .content .forma ul li .forma_duce > div:nth-child(2) a span {
                font-size: 0.5rem;
                color: #333333;
                float: left;
                margin-right: 0.5rem; }
        .content .forma ul li.remo {
          display: none; }
    .content .forma .Load {
      width: 16rem;
      height: calc(3.2rem/2); }
      .content .forma .Load a {
        display: block;
        background: #F5F6F8;
        font-size: 0.6rem;
        color: #4283EB;
        text-align: center;
        line-height: calc(3.2rem/2); }
      .content .forma .Load img {
        display: none;
        width: 2rem;
        height: 2rem;
        margin: 0 auto; }
  .content .PC {
    width: 16rem;
    height: calc(6.3rem/2);
    text-align: center; }
    .content .PC img {
      width: calc(2.6rem/2);
      height: calc(2.4rem/2);
      margin-top: 0.5rem; }
    .content .PC p {
      font-size: 0.4rem;
      color: #949494; }

.menu {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2);
  z-index: 9; }
  .menu a {
    display: block; }

.Catalog {
  width: calc(25rem/2);
  height: 100%;
  background: #f5f6f8;
  position: fixed;
  right: -12.5rem;
  top: 2.3rem;
  z-index: 9; }
  .Catalog h4 {
    font-size: calc(1.5rem/2);
    color: #1B1B1B;
    padding: 0.9rem 0.75rem; }
  .Catalog ul {
    width: 100%; }
    .Catalog ul li {
      width: 100%;
      height: 2rem;
      padding-left: 0.75rem; }
      .Catalog ul li.li1 {
        background: #FFFFFF; }
        .Catalog ul li.li1 a {
          color: #4283EB; }
      .Catalog ul li a {
        line-height: 2rem;
        display: block;
        font-size: 0.6rem;
        color: #000000; }

.Return {
  display: none;
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2);
  z-index: 9; }
  .Return a {
    display: block; }

.add {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(5.7rem/2);
  z-index: 9; }
  .add a {
    display: block; }

.cover {
  display: none;
  width: 16rem;
  height: 50rem;
  opacity: 0.56;
  background: #1B1B1B;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }

.box_search {
  width: 16rem;
  display: none;
  z-index: 999; }
  .box_search .search {
    width: 16rem;
    position: relative;
    zoom: 1; }
    .box_search .search:after {
      display: block;
      clear: both;
      content: ''; }
    .box_search .search a {
      display: block;
      width: 0.7rem;
      height: 0.7rem;
      float: left;
      margin-left: 0.65rem;
      margin-top: 0.75rem; }
    .box_search .search input[type='text'] {
      width: calc(26rem/2);
      height: 2rem;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid #727272;
      font-size: 1rem;
      color: #000000;
      float: left;
      margin-left: 1rem;
      margin-top: 0.45rem; }
    .box_search .search input[type='image'] {
      position: absolute;
      bottom: 0.5rem;
      right: 0.65rem;
      width: 0.9rem;
      height: 0.9rem;
      outline: none; }
  .box_search .search_content {
    width: 16rem;
    background-color: #f5f6f8;
    padding-top: 0.25rem;
    margin-top: 0.6rem; }
    .box_search .search_content ul {
      width: 16rem; }
      .box_search .search_content ul li {
        width: 16rem;
        height: 2rem;
        overflow: hidden; }
        .box_search .search_content ul li a {
          display: block;
          font-size: 0.6rem;
          color: #1B1B1B;
          line-height: 2rem;
          padding-left: 0.9rem; }
  .box_search .list_menu {
    width: calc(25rem/2);
    height: 100%;
    background: #FFFFFF;
    position: fixed;
    right: -12.5rem;
    top: 2.3rem;
    z-index: 999; }
    .box_search .list_menu ul {
      overflow: auto;
      width: calc(25rem/2);
      height: calc(62.1rem/2); }
      .box_search .list_menu ul li {
        width: calc(16rem-0.85rem);
        height: calc(3.75rem/2);
        line-height: calc(3.75rem/2);
        zoom: 1;
        padding-left: calc(1.7rem/2);
        padding-right: calc(1.8rem/2); }
        .box_search .list_menu ul li:after {
          display: block;
          clear: both;
          content: ''; }
        .box_search .list_menu ul li h3 {
          font-size: 0.8rem;
          color: #202121;
          float: left;
          font-weight: 600; }
        .box_search .list_menu ul li span {
          font-size: 0.65rem;
          color: #699cee;
          float: right; }
          .box_search .list_menu ul li span img {
            width: calc(0.9rem/2);
            height: calc(1.3rem/2);
            margin-top: 0.5rem; }
        .box_search .list_menu ul li a {
          font-size: calc(1.2rem/2);
          color: #4e4e4e; }
      .box_search .list_menu ul div {
        zoom: 1; }
        .box_search .list_menu ul div:after {
          display: block;
          clear: both;
          content: ''; }
        .box_search .list_menu ul div input {
          display: block;
          outline: none;
          border: none;
          -webkit-flex-grow: 1;
          background: #f5f6f8;
          width: calc(25rem/4);
          height: calc(3.7rem/2);
          float: left;
          color: #4283eb; }
          .box_search .list_menu ul div input.inp {
            background: #4283eb;
            color: #FFFFFF; }

/*# sourceMappingURL=home.css.map */
