@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
%full{
    width: 100%;
    height: 100%;
}
@mixin pos($p:absolute){
    position: $p;
}
@mixin clearfix{
    zoom: 1;
    &:after{
      display: block;
      clear: both;
      content: '';
    }
}
html,body,.box{
    @extend %full;
}
//上导航
.box_header{
    width: 16rem;
    height: 2.3rem;
    header{
        width: 16rem;
        height: 1.8rem;
        background: #1c1c20;
        text-align: center;
        padding-top: 0.5rem;
        @include pos(fixed);
        z-index: 999;
            .left{
                display: block;
                @include pos();
                left: 0.5rem;
                top: 0.6rem;
                @include clearfix;
                img{
                    width: 0.6rem;
                    height: 1.1rem;
                }
                span{
                    font-size: 0.8rem;
                    float: right;
                    margin-left: 0.3rem;
                    color: #FFFFFF;
                }
            }
            .right{
                display: block;
                @include pos();
                right: 1rem;
                top: 0.3rem;
                img{
                    width: 1.3rem;
                    height: 0.3rem;
                }
            }
            label{
                font-size: 1rem;
                color: #FFFFFF;
            }
    }
}
//分类
.box_list{
    width: 16rem;
    height: calc(6.5rem/2);
    z-index: 999;
    ul{
        width: 16rem;
        @include clearfix;
        li{
            width: calc(16rem/5);
            float: left;
            text-align: center;
            &.lii{
                a:nth-child(1){
                    display: none;
                }
                a:nth-child(2){
                    display: block;
                }
                
            }
            a{
                display: block;
                width: 0.85rem;
                height: 0.8rem;
                margin: 0 auto;
                margin-top:calc(1rem/2);
                img{
                    @extend %full;
                }
            }
            a:nth-child(2){
                display: none;
            }
            span{
                font-size: 0.45rem;
                color: #c0c0c0;
                
            }
        }
    }
}
//搜索
.content_search{
//  display: none;
    width: 16rem;
    height: calc(4.9rem/2);
    background: rgba(245,246,248,0.2);
    @include pos(fixed);
    left: 0;
    top: 5.05rem;
    z-index: 2;
    //菜单
    .banner_remove{
        @include pos();
        top: 0.6rem;
        right: calc(2.1rem/2);
        z-index: 1;
        a{
            display: block;
            img{
                width: calc(1.3rem/2);
                height: calc(1.4rem/2);
                margin-left: 0.1rem;
            }
            span{
                
            }
        }
    }
    
    
    //搜索
    .banner_search{
        z-index: 1;
        input[type='text']{
            padding-left: calc(2.1rem/2);
            width: calc(16rem-2.1rem/2);
            height: calc(4.9rem/2); 
            border: none;
            outline: none;
            background-color:transparent;
//              border-bottom: 2px solid #FFFFFF;
            font-size: calc(1.3rem/2);
            color: #FFFFFF;
            z-index: 1;
        }
        input[type='image']{
            @include pos();
            right: calc(5.6rem/2);
            top: calc(1.5rem/2);
            width: calc(1.7rem/2);
            height: calc(1.7rem/2);
            outline: none;
            z-index: 1;
        }
    }
}
//内容区域
.content{
    width: 16rem;
    //幻灯片
    .banner{
        width: 16rem;
//      margin-top: 1.42rem;
        @include pos(relative);
        z-index: 1;
        .swiper-container{
            width: 100%;
            .swiper-wrapper{
                width: 100%;
                .swiper-slide{
                    width: 100%;
                    @include pos(relative);
                    img{
                        width: 100%;
                    }
                    span{
                        color: #b1b1b1;
                        @include pos();
                        width: 5rem;
                        height: 2rem;
                        left: 50%;
                        top: 50%;
                        margin-left: -2.5rem;
                        margin-top: -1rem;
                    }
                }
            }
        }
//      overflow: hidden;
//      @include pos(relative);
//      @include clearfix;
//      ul{
//          width: 300%;
//          li{
//              width: calc(100%/3);
//              float: left;
//              a{
//                  display: block;
//                  width: 100%;
//                  img{
//                      width: 100%;
//                  }
//              }
//          }
//      }
        //logo
        .banner_logo{
            @include pos();
            left: 50%;
            top: 50%;
            margin-left: calc(-18.7rem/4);
            margin-top: calc(-8rem/4);
            z-index: 1;
            a{
                display: block;
                img{
                    width: calc(18.7rem/2);
                    height: calc(8rem/2);
                }
            }
        }
        
    }
    //分类
    .list{
        width: 16rem;
        height: 5rem;
        @include pos(relative);
        overflow: hidden;
        .swiper-list{
            width: 100%;
            .swiper-wrapper{
                width: 100%;
                .swiper-slide{
                    width: 100%;
                    @include clearfix;
                    padding-top: 0.9rem;
                    a{
                        display: block;
                        width: calc(16rem/3);
                        text-align: center;
                        float: left;
                        img{
                            width: 1.5rem;
                            height: 1.4rem;
                        }
                        span{
                            display: block;
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }
//      ul{
//          width: 200%;
//          padding-top: 0.9rem;
//          li{
//              float: left;
//              width: calc(16rem/3);               
//              a{
//                  display: block;
//                  width: 100%;
//                  text-align: center;
//                  img{
//                      width: 1.5rem;
//                      height: 1.4rem;
//                  }
//                  span{
//                      display: block;
//                      font-size: 0.5rem;
//                  }
//              }
//          }
//      }
//      .bar{
//          width: 2rem;
//          display: flex;
////          border: 1px solid;
//          -webkit-justify-content: space-around;
//          @include pos();
//          left: 50%;
//          bottom: 0.5rem;
//          margin-left: -1rem;
//          span{
//              display: block;
//              width: 0.5rem;
//              height: 2px;
//              background: #c5c5c5;
//              &.bar_blue{
//                  background: #3c9cee;
//              }
//          }
//      }
    }
    //展示信息
    .forma{
        width: 16rem;
        ul{
            width: 16rem;
            li{
                width: 16rem;
                height: calc(34rem/2);
                .forma_imaGes{
                    width: 16rem;
                    height: 12rem;
                    @include pos(relative);
                    p{
                        font-size: 0.5rem;
                        color: #FFFFFF;
                        width: calc(29.5rem/2);
                        height: calc(2.7rem/2);
            //          border: 1px solid;
                        @include pos();
                        left: 50%;
                        margin-left: -7.375rem;
                        bottom: 1.75rem;
                    }
                }
                .forma_duce{
                    width: 16rem;
                    @include clearfix;
                    &>div{
                        &:nth-child(1){
                            margin-left: 0.55rem;
                            margin-top: 0.5rem;
                            float: left;
                            h3{
                                font-size: 1rem;
                                color: #1B1B1B;
                            }
                            p{
                                font-size: 0.5rem;
                                color: #949494;
                                margin-top: 0.3rem;
                            }
                        }
                        &:nth-child(2){
                            float: right;
                            @include clearfix;
                            margin-right: 0.6rem;
                            margin-top: 0.9rem;
                            a{
                                display: block;
                                float: left;
                                @include clearfix;
                                img{
                                    width: 0.8rem;
                                    height: 0.75rem;
                                    float: left;
                                    margin-right: 0.2rem;
                                }
                                span{
                                    font-size: 0.5rem;
                                    color: #333333;
                                    float: left;
                                    margin-right: 0.5rem;
                                }
                            }
                        }
                    }
                }
                &.remo{
                    display: none;
                }
            }
        }
         //加载更多
        .Load{
            width: 16rem;
            height: calc(3.2rem/2);
            a{
                display: block;
                @extend %full;
                background: #F5F6F8;
                font-size: 0.6rem;
                color: #4283EB;
                text-align: center;
                line-height: calc(3.2rem/2);
            }
            img{
                display: none;
                width: 2rem;
                height: 2rem;
                margin: 0 auto;
            }
        }
    }
    //底部
    .PC{
        width: 16rem;
        height: calc(6.3rem/2);
        text-align: center;
        img{
            width: calc(2.6rem/2);
            height: calc(2.4rem/2);
            margin-top: 0.5rem;
        }
        p{
            font-size: 0.4rem;
            color: #949494;
        }   
    }
 
}


//目录
.menu{
//  display: none;
    width: calc(3.6rem/2);
    height: calc(3.4rem/2);
    @include pos(fixed);
    right: calc(2rem/2);
    bottom: calc(9.7rem/2);
    z-index: 9;
//  bottom: calc(13.7rem/2);
    a{
        display: block;
        @extend %full;
        img{
            @extend %full;
        }
    }
}
//目录显示
.Catalog{
    width: calc(25rem/2);
    height: 100%;
    background: #f5f6f8;
    @include pos(fixed);
    right: -12.5rem;
    top: 2.3rem;
    z-index: 9;
    h4{
        font-size: calc(1.5rem/2);
        color: #1B1B1B;
        padding: 0.9rem 0.75rem;
    }
    ul{
        width: 100%;
        li{
            width: 100%;
            height: 2rem;
            padding-left: 0.75rem;
            &.li1{
                background: #FFFFFF;
                a{
                    color: #4283EB;
                }
            }
            a{
                line-height: 2rem;
                display: block;
                @extend %full;
                font-size: 0.6rem;
                color: #000000;
            }
        }
    }
}
//返回顶部
.Return{
    display: none;
    width: calc(3.6rem/2);
    height: calc(3.4rem/2);
    @include pos(fixed);
    right: calc(2rem/2);
    bottom: calc(9.7rem/2);
    z-index: 9;
    a{
        display: block;
        @extend %full;
        img{
            @extend %full;
        }
    }
}
//添加
.add{
    width: calc(3.6rem/2);
    height: calc(3.4rem/2);
    @include pos(fixed);
    right: calc(2rem/2);
    bottom: calc(5.7rem/2);
    z-index: 9;
    a{
        display: block;
        @extend %full;
        img{
            @extend %full;
        }
    }
}
//遮盖层
.cover{
    display: none;
    width: 16rem;
    height: 50rem;
    opacity: 0.56;
    background: #1B1B1B;
    @include pos(fixed);
    left: 0;
    top: 0;
    z-index: 1;
}
.box_search{
    width: 16rem;
    display: none;
    z-index: 999;
    .search{
        width: 16rem;
        @include pos(relative);
        @include clearfix;
    //  border: 1px solid;
        a{
            display: block;
            width: 0.7rem;
            height: 0.7rem;
            float: left;
            margin-left: 0.65rem;
            margin-top: 0.75rem;
            img{
                @extend %full;
            }
        }
        input[type='text']{
            width: calc(26rem/2);
            height: 2rem;
            border: none;
            outline: none;
            background-color:transparent;
            border-bottom: 2px solid #727272;
            font-size: 1rem;
            color: #000000;
            float: left;
            margin-left: 1rem;
            margin-top: 0.45rem;
        }
        input[type='image']{
            @include pos();
            bottom: 0.5rem;
            right: 0.65rem;
            width: 0.9rem;
            height: 0.9rem;
            outline: none;
        }
    }
    .search_content{
        width: 16rem;
        background-color:#f5f6f8;
        padding-top: 0.25rem;
        margin-top: 0.6rem;
        ul{
            width: 16rem;
            li{
                width: 16rem;
                height: 2rem;
                overflow: hidden;
                a{
                    display: block;
                    @extend %full;
                    font-size: 0.6rem;
                    color: #1B1B1B;
                    line-height: 2rem;
                    padding-left: 0.9rem;
                }
            }
        }
    }
    //分类栏
    .list_menu{
        width: calc(25rem/2);
        height: 100%;
        background: #FFFFFF;
        @include pos(fixed);
        right: -12.5rem;
        top: 2.3rem;
        z-index: 999;
        ul{
            overflow: auto;
            width: calc(25rem/2);
            height: calc(62.1rem/2);
            li{
                width: calc(16rem-0.85rem);
                height: calc(3.75rem/2);
                line-height: calc(3.75rem/2);
                @include clearfix;
                padding-left: calc(1.7rem/2);
//              padding-top: 0.73rem;
                padding-right: calc(1.8rem/2);
                h3{
                    font-size: 0.8rem;
                    color: #202121;
                    float: left;
                    font-weight: 600;
     
                }
                span{
                    font-size: 0.65rem;
                    color: #699cee;
                    float: right;
                    img{
                        width: calc(0.9rem/2);
                        height: calc(1.3rem/2);
                        margin-top: 0.5rem;
                    }
                }
                a{
                    font-size: calc(1.2rem/2);
                    color: #4e4e4e;
                }
            }
            div{
                @include clearfix;
                    input{
                        display: block;
                        outline: none;
                        border: none;
                        -webkit-flex-grow: 1;
                        background: #f5f6f8;
                        width: calc(25rem/4);
                        height: calc(3.7rem/2);
                        float: left;
                        color: #4283eb;
                        &.inp{
                            background: #4283eb;
                            color: #FFFFFF;
                        }
                    }
                }
        }
    }
}

