* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

html, body, .box, .box_list ul li a img, .menu a, .menu a img, .Catalog ul li a, .Return a, .Return a img, .add a, .add a img, .box_search .search a img, .box_search .search_content ul li a {
  width: 100%;
  height: 100%; }

.box_header {
  width: 16rem;
  height: 2.3rem; }
  .box_header header {
    width: 16rem;
    height: 1.8rem;
    background: #1c1c20;
    text-align: center;
    padding-top: 0.5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999; }
    .box_header header .left {
      display: block;
      position: absolute;
      left: 0.5rem;
      top: 0.6rem;
      zoom: 1; }
      .box_header header .left:after {
        display: block;
        clear: both;
        content: ''; }
      .box_header header .left img {
        width: 0.6rem;
        height: 1.1rem; }
      .box_header header .left span {
        font-size: 0.8rem;
        float: right;
        margin-left: 0.3rem;
        color: #FFFFFF; }
    .box_header header .right {
      display: block;
      position: absolute;
      right: 1rem;
      top: 0.3rem; }
      .box_header header .right img {
        width: 1.3rem;
        height: 0.3rem; }
    .box_header header label {
      font-size: 1rem;
      color: #FFFFFF; }

.box_list {
  width: 16rem;
  height: calc(6.5rem/2);
  z-index: 999; }
  .box_list ul {
    width: 16rem;
    zoom: 1; }
    .box_list ul:after {
      display: block;
      clear: both;
      content: ''; }
    .box_list ul li {
      width: calc(16rem/5);
      float: left;
      text-align: center; }
      .box_list ul li.lii a:nth-child(1) {
        display: none; }
      .box_list ul li.lii a:nth-child(2) {
        display: block; }
      .box_list ul li a {
        display: block;
        width: 0.85rem;
        height: 0.8rem;
        margin: 0 auto;
        margin-top: calc(1rem/2); }
      .box_list ul li a:nth-child(2) {
        display: none; }
      .box_list ul li span {
        font-size: 0.45rem;
        color: #c0c0c0; }

.content_search {
  width: 16rem;
  height: calc(4.9rem/2);
  background: rgba(245, 246, 248, 0.2);
  position: fixed;
  left: 0;
  top: 5.05rem;
  z-index: 2; }
  .content_search .banner_remove {
    position: absolute;
    top: 0.6rem;
    right: calc(2.1rem/2);
    z-index: 1; }
    .content_search .banner_remove a {
      display: block; }
      .content_search .banner_remove a img {
        width: calc(1.3rem/2);
        height: calc(1.4rem/2);
        margin-left: 0.1rem; }
  .content_search .banner_search {
    z-index: 1; }
    .content_search .banner_search input[type='text'] {
      padding-left: calc(2.1rem/2);
      width: calc(16rem-2.1rem/2);
      height: calc(4.9rem/2);
      border: none;
      outline: none;
      background-color: transparent;
      font-size: calc(1.3rem/2);
      color: #FFFFFF;
      z-index: 1; }
    .content_search .banner_search input[type='image'] {
      position: absolute;
      right: calc(5.6rem/2);
      top: calc(1.5rem/2);
      width: calc(1.7rem/2);
      height: calc(1.7rem/2);
      outline: none;
      z-index: 1; }

.content {
  width: 16rem;
  background: #f5f6f8; }
  .content .viDeo {
    width: 16rem;
    height: 8rem;
    position: relative; }
    .content .viDeo .clIck {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -1.25rem;
      margin-top: -1.25rem; }
      .content .viDeo .clIck #triangle-right {
        width: 0;
        height: 0;
        border-top: 0.5rem solid transparent;
        border-left: 1rem solid #FFFFFF;
        border-bottom: 0.5rem solid transparent;
        opacity: 0.7;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.25rem;
        margin-top: -0.5rem; }
    .content .viDeo .clIck:hover {
      background: rgba(255, 255, 255, 0.3); }
  .content .forma_duce {
    width: 16rem;
    zoom: 1; }
    .content .forma_duce:after {
      display: block;
      clear: both;
      content: ''; }
    .content .forma_duce > div:nth-child(1) {
      margin-left: 0.55rem;
      margin-top: 0.5rem;
      float: left; }
      .content .forma_duce > div:nth-child(1) h3 {
        font-size: 1rem;
        color: #1B1B1B; }
      .content .forma_duce > div:nth-child(1) p {
        font-family: PingFangSC-Light;
        font-size: 0.5rem;
        color: #777777;
        letter-spacing: 0;
        margin-top: 0.3rem; }
        .content .forma_duce > div:nth-child(1) p:nth-child(2) {
          font-size: 0.5rem;
          font-family: PingFangSC-Light;
          color: #4283EB;
          letter-spacing: 1px; }
    .content .forma_duce > div:nth-child(2) {
      float: right;
      zoom: 1;
      margin-right: 0.6rem;
      margin-top: 0.9rem; }
      .content .forma_duce > div:nth-child(2):after {
        display: block;
        clear: both;
        content: ''; }
      .content .forma_duce > div:nth-child(2) a {
        display: block;
        float: left;
        zoom: 1; }
        .content .forma_duce > div:nth-child(2) a:after {
          display: block;
          clear: both;
          content: ''; }
        .content .forma_duce > div:nth-child(2) a img {
          width: 0.8rem;
          height: 0.75rem;
          float: left;
          margin-right: 0.2rem; }
        .content .forma_duce > div:nth-child(2) a span {
          font-size: 0.5rem;
          color: #333333;
          float: left;
          margin-right: 0.5rem; }
  .content .inherit {
    width: 16rem;
    padding-top: 1.25rem; }
    .content .inherit .inherit_content {
      width: calc(29.5rem/2);
      height: calc(15.4rem/2);
      background: #FFFFFF;
      margin: 0 auto;
      padding-top: 1.1rem; }
      .content .inherit .inherit_content h4 {
        font-size: 0.65rem;
        font-family: PingFangSC-Medium;
        color: #333333;
        letter-spacing: 1px;
        font-weight: bold;
        margin-left: 0.9rem; }
      .content .inherit .inherit_content ul {
        width: 90%;
        margin-left: 0.9rem; }
        .content .inherit .inherit_content ul li {
          width: 90%;
          zoom: 1;
          line-height: 1rem;
          margin-top: 0.9rem; }
          .content .inherit .inherit_content ul li:after {
            display: block;
            clear: both;
            content: ''; }
          .content .inherit .inherit_content ul li > div {
            float: left; }
            .content .inherit .inherit_content ul li > div img {
              width: calc(3.5rem/2);
              height: calc(3.5rem/2); }
            .content .inherit .inherit_content ul li > div p:nth-child(1) {
              font-size: 0.6rem;
              font-family: PingFangTC-Regular;
              color: #1B1B1B;
              letter-spacing: 0;
              font-weight: 600; }
            .content .inherit .inherit_content ul li > div p:nth-child(2) {
              font-size: 0.5rem;
              font-family: PingFangTC-Light;
              color: #777777;
              letter-spacing: 0; }
            .content .inherit .inherit_content ul li > div:nth-child(2) {
              margin-left: 0.65rem; }
    .content .inherit .inherit_content2 {
      width: calc(29.5rem/2);
      height: calc(10.2rem/2);
      background: #FFFFFF;
      margin: 0 auto;
      margin-top: 0.65rem; }
      .content .inherit .inherit_content2 h4 {
        font-family: PingFangSC-Medium;
        font-size: 0.65rem;
        color: #333333;
        letter-spacing: 1px;
        font-weight: bold;
        zoom: 1;
        padding-left: calc(1.7rem/2);
        padding-top: calc(1.9rem/2); }
        .content .inherit .inherit_content2 h4:after {
          display: block;
          clear: both;
          content: ''; }
        .content .inherit .inherit_content2 h4 img {
          width: 0.9rem;
          height: 0.9rem;
          float: right;
          margin-right: calc(18.5rem/2);
          margin-top: -0.1rem; }
      .content .inherit .inherit_content2 p {
        margin-left: calc(1.7rem/2);
        line-height: 1rem; }
        .content .inherit .inherit_content2 p:nth-child(2) {
          margin-top: 0.5rem; }
        .content .inherit .inherit_content2 p span:nth-child(1) {
          font-family: PingFangTC-Light;
          font-size: 0.6rem;
          color: #777777;
          letter-spacing: 0; }
        .content .inherit .inherit_content2 p span:nth-child(2) {
          font-family: PingFangTC-Regular;
          font-size: 0.6rem;
          font-weight: bold;
          color: #1B1B1B;
          letter-spacing: 1px; }
        .content .inherit .inherit_content2 p span:nth-child(3) {
          font-family: PingFangTC-Light;
          font-size: 0.6rem;
          color: #777777;
          letter-spacing: 0; }
        .content .inherit .inherit_content2 p span:nth-child(4) {
          font-family: PingFangTC-Regular;
          font-size: 0.6rem;
          font-weight: bold;
          color: #1B1B1B;
          letter-spacing: 1px; }
  .content .content_box {
    width: 16rem;
    background: #FFFFFF;
    margin-top: 1rem; }
    .content .content_box .inFormation {
      width: 16rem;
      zoom: 1; }
      .content .content_box .inFormation:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 1.25rem 0 0 0.65rem; }
        .content .content_box .inFormation h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation p {
        float: left;
        width: 8rem; }
        .content .content_box .inFormation p span:nth-child(1) {
          font-size: 0.6rem;
          font-family: PingFangSC-Light;
          color: #777777;
          letter-spacing: 0;
          margin-left: 0.65rem; }
        .content .content_box .inFormation p span:nth-child(2) {
          font-size: 0.6rem;
          font-family: PingFangSC-Regular;
          color: #000000;
          letter-spacing: 0; }
        .content .content_box .inFormation p:nth-child(4) {
          margin-top: -0.2rem; }
    .content .content_box .inFormation2 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation2:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation2 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation2 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation2 .For_content {
        font-size: 0.6rem;
        font-family: PingFangSC-Light;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.8rem 0.65rem; }
      .content .content_box .inFormation2 .viDeo2 {
        width: 16rem;
        height: 8rem;
        margin-top: 0.6rem;
        position: relative; }
        .content .content_box .inFormation2 .viDeo2 .clIck2 {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 2.5rem;
          background: rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(255, 255, 255, 0.5);
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -1.25rem;
          margin-top: -1.25rem; }
          .content .content_box .inFormation2 .viDeo2 .clIck2 #triangle-right2 {
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-left: 1rem solid #FFFFFF;
            border-bottom: 0.5rem solid transparent;
            opacity: 0.7;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -0.25rem;
            margin-top: -0.5rem; }
        .content .content_box .inFormation2 .viDeo2 .clIck2:hover {
          background: rgba(255, 255, 255, 0.3); }
      .content .content_box .inFormation2 .For_h {
        font-family: PingFangSC-Light;
        font-size: 0.5rem;
        color: #777777;
        letter-spacing: 0;
        text-align: center;
        padding: 0.6rem 0 1rem 0; }
      .content .content_box .inFormation2 .For_content2 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem; }
    .content .content_box .inFormation3 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation3:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation3 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation3 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation3 .picTure {
        width: 16rem;
        zoom: 1;
        margin-top: 0.65rem; }
        .content .content_box .inFormation3 .picTure:after {
          display: block;
          clear: both;
          content: ''; }
        .content .content_box .inFormation3 .picTure > div {
          float: left; }
          .content .content_box .inFormation3 .picTure > div:nth-child(1) {
            width: calc(21.2rem/2);
            height: calc(19.8rem/2); }
          .content .content_box .inFormation3 .picTure > div:nth-child(2) {
            width: calc(10.6rem/2);
            height: calc(9.8rem/2);
            float: right; }
          .content .content_box .inFormation3 .picTure > div:nth-child(3) {
            float: right;
            width: calc(10.6rem/2);
            height: calc(9.8rem/2);
            margin-top: calc(0.2rem/2);
            background: rgba(0, 0, 0, 0.38);
            font-family: PingFangSC-Regular;
            font-size: 0.7rem;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: calc(9.8rem/2); }
      .content .content_box .inFormation3 .For_content3 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem; }
    .content .content_box .inFormation4 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation4:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation4 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation4 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation4 .picTure2 {
        width: calc(32rem/2);
        height: calc(16.1rem/2);
        position: relative;
        margin-top: 0.6rem; }
        .content .content_box .inFormation4 .picTure2 div {
          zoom: 1;
          padding-bottom: 0.75rem;
          position: absolute;
          bottom: 0;
          right: 0; }
          .content .content_box .inFormation4 .picTure2 div:after {
            display: block;
            clear: both;
            content: ''; }
          .content .content_box .inFormation4 .picTure2 div span {
            font-family: 'PingFangSC-Light';
            font-size: 0.8rem;
            color: #FFFFFF;
            letter-spacing: 0;
            float: right;
            margin-top: 0.2rem;
            margin-left: 0.3rem;
            margin-right: 0.6rem; }
          .content .content_box .inFormation4 .picTure2 div img {
            width: calc(1.9rem/2);
            height: calc(1.7rem/2);
            float: right;
            margin-top: 0.2rem; }
      .content .content_box .inFormation4 .For_h2 {
        font-family: PingFangSC-Light;
        font-size: 0.5rem;
        color: #777777;
        letter-spacing: 0;
        text-align: center;
        padding: 0.6rem 0 1rem 0; }
      .content .content_box .inFormation4 .For_content4 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }
    .content .content_box .inFormation5 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation5:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation5 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation5 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation5 .For_content_5 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }
      .content .content_box .inFormation5 .For_content5 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }

.menu {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2); }
  .menu a {
    display: block; }

.Catalog {
  width: calc(25rem/2);
  height: 100%;
  background: #f5f6f8;
  position: fixed;
  right: -12.5rem;
  top: 2.3rem;
  z-index: 9; }
  .Catalog h4 {
    font-size: calc(1.5rem/2);
    color: #1B1B1B;
    padding: 0.9rem 0.75rem; }
  .Catalog ul {
    width: 100%; }
    .Catalog ul li {
      width: 100%;
      height: 2rem;
      padding-left: 0.75rem; }
      .Catalog ul li.li1 {
        background: #FFFFFF; }
        .Catalog ul li.li1 a {
          color: #4283EB; }
      .Catalog ul li a {
        line-height: 2rem;
        display: block;
        font-size: 0.6rem;
        color: #000000; }

.Return {
  display: none;
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2); }
  .Return a {
    display: block; }

.add {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(5.7rem/2); }
  .add a {
    display: block; }

.cover {
  display: none;
  width: 16rem;
  height: 50rem;
  opacity: 0.56;
  background: #1B1B1B;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }

.box_search {
  width: 16rem;
  display: none; }
  .box_search .search {
    width: 16rem;
    position: relative;
    zoom: 1; }
    .box_search .search:after {
      display: block;
      clear: both;
      content: ''; }
    .box_search .search a {
      display: block;
      width: 0.7rem;
      height: 0.7rem;
      float: left;
      margin-left: 0.65rem;
      margin-top: 0.75rem; }
    .box_search .search input[type='text'] {
      width: calc(26rem/2);
      height: 2rem;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid #727272;
      font-size: 1rem;
      color: #000000;
      float: left;
      margin-left: 1rem;
      margin-top: 0.45rem; }
    .box_search .search input[type='image'] {
      position: absolute;
      bottom: 0.5rem;
      right: 0.65rem;
      width: 0.9rem;
      height: 0.9rem;
      outline: none; }
  .box_search .search_content {
    width: 16rem;
    background-color: #f5f6f8;
    padding-top: 0.25rem;
    margin-top: 0.6rem; }
    .box_search .search_content ul {
      width: 16rem; }
      .box_search .search_content ul li {
        width: 16rem;
        height: 2rem; }
        .box_search .search_content ul li a {
          display: block;
          font-size: 0.6rem;
          color: #1B1B1B;
          line-height: 2rem;
          padding-left: 0.9rem; }

/*# sourceMappingURL=suxiu.css.map */
